:root {
    --main-color: #027428;
    --dark-color: #1FA94E;
    --light-color: #ffc27f;
    --contrast-color: #FFFFFF;
    --differential-color: #ff9a9a;
    --contrast-pannel: #4e4e4e;
    --danger-color: #b80000;
    --success-color: #095221;
}