body {
    background: #2A2A2A;
}

.container-search {
    display: flex;
    align-items: center;
    background-color: var(--contrast-pannel);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 101%;
    max-width: 1900px;
    margin: 100px -50px;
    padding: 20px;
    height: 120px;
}

.search-text {
    margin-right: auto;
    color: var(--dark-color);
    font-size: 27px;
    font-weight: 700;
}

